/*This is for positioning and sizing*/
header {
  border: 2px solid transparent;
  height: 30em;
  padding-bottom: 5%;
}
.aboutHeader {
  height: 30em;
}
header h1 {
  position: relative;
  z-index: 10;
}
#RWDtext {
  background: #4f4f4f;
  font-family: "Montserrat", sans-serif;
  position: relative;
  text-align: center;
  z-index: 10;
}
main {
  display: block;
  margin: 0% 1%;
}
.aboutMain{
  padding-top: 3em;
}
main h2 {
  text-align: center;
}
h4, h6 {
  text-align: justify;
}
.get {
  display: none;
}
section {
  margin-bottom: 4vmin;
}
footer {
  position: relative;
  display: block;
}
.aboutMe {
  margin: auto;
  width: 60%;
}
.imageDescription {
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  font-size: 175%;
  padding: 0 10px;
}
#diagram {
  width: 600px;
  height: 600px;
}
.container {
  width: auto;
  padding: 0.1em;
}
.hide {
  display: none;
}
.icon {
  display: inline-block;
  margin: 0.5em;

}
.more {
  width: 100%;
  padding: 2em 0;
}

#btnrefresh, #txtCaptcha {
  display: inline-block;
  line-height: 3em;
  max-width: 20em;
  margin: auto;
}
.contact__button--container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.contact__button {
margin: 1.5em auto;
height: 7em;
}
.contact__button--container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.contact__button {
margin: 1.5em auto;
height: 7em;
}

.u-visually-hidden {
  position: absolute;
  left: -9999rem;
  top: -9999rem;
;}