header {
  height: 25em;
}
header h1 {
  padding-top: 2.5em;
}
#RWDtext {
  text-align: center;
}
main {
  display: block;
  padding-left: 2em;
  padding-right: 2em;
}
main h2 {
  text-align: center;
}
.disc:hover {
  z-index: 1000;
}
.get {
  display: none;
}
.skills__graph {
  display: block;
  left: 27%;
  height: 50em;
  width: 50em;
  overflow: visible;
  margin-left: 30%;
}
footer {
  position: relative;
  display: block;
}
.aboutMe {
  margin: auto;
  width: 60%;
}
.imageDescription {
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
}
#diagram {
  width: 600px;
  height: 600px;
}
.container {
  width: auto;
  padding: 0.1em;
}
.mobile--chart {
  /*margin-top: 75em;*/
}
.horizontal .progress-bar {
  float: left;
  height: 3em;
  width: 100%;
  /*padding: 0.5em 0;*/
}
.horizontal .progress-track {
  position: relative;
  width: 100%;
  height: 1.5em;
}
.horizontal .progressFill {
  position: relative;
  /*height: 1.5em;*/
  width: 50%;
  text-align: center;
  line-height: 1.5em;
}
.mobile--chart h2 {
  text-align: center;
}
h6 {
  text-align: justify;
}
.hide {
  display: none;
}
.icon {
  display: inline-block;
  margin-top: 0.5em;
}
#contact-area {
  width: 30em;
  margin: auto;
  margin-top: 2em;
}
#contact-area input, #contact-area textarea {
  margin: auto;
  border: 0.2em solid #ccc;
}
#contact-area textarea {
  height: 5em;
}
#contact-area textarea:focus, #contact-area input:focus {
  border: 0.2em solid #900;
}
#contact-area input.submit-button {
  margin: auto;
  display: block;
  width: 10em;
}
label {
  float: left;
  text-align: justify;
  margin-right: 1.5em;
  width: 10em;
  font-size: 1.4em;
}
