/*This is for positioning and sizing irrespective of media query*/
/* arranged alphabetically by: element > id > class and by specificity within each of those */
article {
  position: absolute;
  bottom: 0;
}
footer {
  height: 8vh;
  margin: 0 auto;
  position: fixed;
  bottom: 0vh;
  text-align: center;
  width: 100vw;
}

h4, h6 {
  text-align: justify;
}

h5 {
  padding: 2vh;
}

header {
  background: url("../assets/fullname2.png") fixed center no-repeat;
  background-attachment: scroll;
  background-color: #3D3B3C;
  min-width: 100vw;
  min-height: 15vh;
  padding-top: 20vh;
  position: absolute;
  top: 0;
  left: 0;
}

#RWDtext {
  background: #3D3B3C;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  min-width: 100vw;
  min-height: 15vh;
  padding-top: 10vh;
  position: absolute;
  top: 0;
}

label {
  font-size: 200%;
  text-align: justify;
  margin-right: 1.5rem;
  width: 10rem;
}

main {
  display: inline-block;
  position: absolute;
  height: 15vh;
  margin: 0;
  top: 31vh;
}

main h2 {
  text-align: center;
  width: 80%;
}

form {
  padding-top: 5vh;
}

#txt-captcha {
  font-size: 140%;
  line-height: 5vh;
  max-width: 25vw;
  margin-right: 1.5vw;
}

#contact-area {
  display: block;
  grid-column: third;
  grid-row: 3 / 6;
  height: 50vh;
  justify-self: stretch;
}

#btn-refresh {
  display: inline;
  width: 10vw;
}

#txt-input, .submit-button {
  display: block;
  font-size: 100%;
}

input {
  display: block;
  height: 5vh;
  width: 50vw;
}

#txt-captcha {
  display: inline-block;
  width: 20vw;
}

#message {
  display: block;
  height: 15vh;
  width: 50vw;
}

.container {
  display: grid;
  grid-template-columns: [first] 15% [second] 10% [third] 50% [fourth] 10% [fifth] 15% [end];
  grid-template-rows: repeat(13, [row-start] 20vh);
  height: 260vh;
  margin: 35vh 0vw 15vh;
}

.container-short {
  display: grid;
  grid-template-columns: [first] 15% [second] 10% [third] 50% [fourth] 10% [fifth] 15% [end];
  grid-template-rows: repeat(5, [row-start] 20vh);
  height: 150vh;
  margin: 15vh 0vw 20vh;
}

.minesweeper {
  display: inherit;
  grid-column: first / end;
  grid-template-columns: inherit;
  grid-row: row-start 1 / row-start 5;
}

.minesweeper-embed {
  grid-column: first / end;
  height: 30vh;
  width: 100vw;
}

.minesweeper-col-four {
    display: inline-block;
    font-size: 130%;
    position: absolute;
    right: 10vw;  
}

.col-four {
  display: inline-block;
  font-size: 130%;
  margin: 5vh 0;
  position: absolute;
  right: 10vw;
}

.HGVF {
  background: lightgray;
  grid-column: first / end;
  grid-row: row-start 4 / row-start 10;
}
.HGVF embed {
  height: 90vh;
  margin: 2vh 0;
  width: 100%;
}
.HGVF img {
  display: none;
}

p a {
  margin: 0 0 0 1vw;
}

.dropdown {
  display: block;
}
.dropdown li {
  display: block;
  padding: 0;
  height: 10vh;
}

.dropdown li a {
  display: block;
  padding: 0;
}

.scoring {
  grid-column: first / end;
  grid-row: row-start 10 / row-start 13;
}

.scoring img {
  height: 45vh;
  margin: 0 30vw;
  width: 45vw;
}

.scoring p {
  margin: 0 7vw;
}

.scoring > .col-four {
  margin: 0;
}

.gone {
  visibility: hidden;
  opacity: 0;
  transition: visibility 2.5s ease-out 1s, opacity 2.5s;
}

.get {
  display: none;
}

.hide {
  display: none;
}

.icon {
  display: inline-block;
  margin: 2vh 5vw;
}

.imageDescription {
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  font-size: 175%;
  padding: 0 10px;
}

.resume {
  background-color: #3D3B3C;
  bottom: 8vh;
  display: inline-block;
  font-size: 150%;
  height: 7vh;
  position: fixed;
  text-align: center;
  width: 100vw;
}

.resume a,
.resume a:visited {
  background: none;
  color: #D8A437;
  font-size: 125%;
  line-height: 7vh;
}

.resume a:hover{
  color: #6f6f6f;
}
.open {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 1.5s ease-in 1s, opacity 1.2s;
  transition: visibility 1.5s ease-in 1s, opacity 1.2s;
}

.u-visually-hidden {
  position: absolute;
  left: -9999em;
  top: -9999em;
}
