@media screen and (max-width: 500px) {
  header {
    background: url("../assets/mobile_fullname.png") fixed center no-repeat;
    background-attachment: scroll;
    background-color: #3D3B3C;
    min-width: 100vw;
  }
  .icon {
    margin: 0 2vw;
  }

  .container {
    height: 300vh;
  }
  #RWDtext {
    min-height: 25vh;
  }
  .HGVF embed {
    display: none;
  }
  .HGVF img {
    display: block;
    height: 90vh;
    margin: 2vh 2vw;
    width: 95vw;
    }
  .scoring img {
    display: block;
    height: 60vh;
    margin: 2vh 2vw;
    width: 95vw;
  }
  #menu1, #menu2 {
    display: none;
  }
  nav ul, nav li {
    margin: 0 auto;
    width: 50vw;
  }
  #contact-area {
    grid-column: second / fifth;
  }
  #txt-input, #submit {
    font-size: 80%;
    grid-column: second / fifth;
    margin: 0 auto;
    width: 70vw;
  }
  input, #message {
    width: 70vw;
  }
  #btn-refresh {
    width: 35vw;
  }
  #txt-captcha {
    font-size: 120%;
    width: 40vw;
  }
  .resume {
    position: fixed;
    bottom: 10vh;
  }
}
