  @media screen and (min-width: 350px) {
  .img1 {
    margin:15%;
    position: absolute;
    top: 29em;
  }
  .img2 {
    margin:15%;
    position: absolute;
    top: 40em;
  }
  .img3 {
    margin:15%;
    position: absolute;
    top: 51em;
  }
  .img4 {
    margin:15%;
    position: absolute;
    top: 62em;
  }
  .img5 {
    margin:15%;
    position: absolute;
    top: 73em;
  }
  main {
    min-height: 75em;
  }
  .aboutMe {
    width: 95%
  }
  .aboutMe h6:before {
    content:"\a";
    white-space: pre;
  }
  footer {
    padding-top: 1em;
    height: 5em;
    padding-bottom: 0.1em;
  }
  .skills__graph {
    display: none;
  }
  .mobile--chart {
    display: block;
  }
  #RWDtext:after {
    font-size: 0.7em;
    content: "(try me on your desktop)"
  }
  #contact-area {
    margin-left: 0.3em;
    width: 20em;
  }
  #contact-area input, #contact-area textarea {
    width: 30em;
  }
  label {
    float: left;
    text-align: justify;
    margin-right: 1.5em;
    width: 10em;
    font-size: 1.5em;
  }
  @media screen and (min-width: 750px) {
    .img1 {
      margin:none;
      left: 0em;
      top: 22em;
      z-index: 0;
    }
    .img2 {
      margin:none;
      left: 10em;
      top: 22em;
      z-index: 40;
    }
    .img3 {
      margin:none;
      left: 6em;
      top: 26em;
      z-index: 30;
    }
    .img4 {
      margin:none;
      left: 16em;
      top: 28em;
      z-index: 20;
    }
    .img5 {
      margin:none;
      left: 19em;
      top: 25em;
      z-index: 30;
    }
    main {
      min-height: 33em;
    }
    .aboutMe h6:before {
      content:none;
      white-space: none;
    }
    footer {
      height: 5em;
    }
    .skills__graph {
      margin: auto;
      display: block;
    }
    .mobile--chart {
      display: none;
    }
    #RWDtext:after {
      font-size: 0.7em;
      content: "(tablets are different from desktop or mobile)"
    }
  }
  @media screen and (min-width: 830px) {
    .skills__graph {
      display: block;
    }
    .aboutMe {
      width: 70%
    }
    footer {
      height: 5em;
      padding-top: 1em;
    }
    #contact-area {
      margin: auto;
      width: 35em;
      margin-top: 2em;
    }
    #contact-area input, #contact-area textarea {
      margin: auto;
      border: 0.2em solid #ccc;
      width: 100%;
    }
    #contact-area textarea:focus, #contact-area input:focus {
      border: 0.2em solid #900;
    }
    #contact-area input.submit-button {
      margin: auto;
      display: block;
      width: 10em;
    }
    label {
      font-size: 2em;
    }
  }
  @media screen and (min-width: 1000px) {
    main {
      min-height: 35em;
    }
    .img1 {
      left: 10em;
      top: 23em;
    }
    .img2 {
      left: 22em;
      top: 22em;
    }
    .img3 {
      left: 15em;
      top: 28em;
    }
    .img4 {
      left: 27em;
      top: 27em;
    }
    .img5 {
      left: 32em;
      top: 25em;
    }
    #RWDtext:after {
      font-size: 0.7em;
      content: "(try me on mobile)"
    }
}
@media screen and (min-width: 1200px) {
  main {
    min-height: 35em;
  }
  .img1 {
    left: 13em;
    top: 18em;
  }
  .img2 {
    left: 25em;
    top: 17em;
  }
  .img3 {
    left: 18em;
    top: 23em;
  }
  .img4 {
    left: 30em;
    top: 22em;
  }
  .img5 {
    left: 35em;
    top: 20em;
  }
}
