.panels {
  min-height:100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background:#6B0F9C;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  text-align: center;
  align-items:center;
 /* Safari transitionend event.propertyName === flex */
 /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

/* Flex Items */
.panel > p {
  border: 2px solid red;
  margin:0;
  width: 100%;
  opacity: 1;
  transition: transform 0.5s, opacity 4s;
  flex: 1 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.panel > p:first-child { transform: translateY(-5000px); border: 2px solid yellow; }
.panel.open-active > p:first-child { transform: translateY(0); }
.panel > p:nth-of-type(2) { transform: translateY(5000px); border: 2px solid blue; }
.panel.open-active > p:nth-of-type(2) { transform: translateY(0);  }
.panel > p:last-child { transform: translateY(-200%); border: 2px solid green;}
.panel.open-active > p:last-child { transform: translateY(0%); }

.panel.open-active > p {
  opacity: 0;
}

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}
/* .panel p:nth-child(2) {
  font-size: 4em;
} */

.panel.open {
  flex-shrink: 5;
  font-size:40px;
}

.panel > a {
  transform: translateY(-5000px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  height: 100px;
  width: 200px;
}
.panel.open-active > a {
  transition: transform 0.5s, opacity 4s;
  transform: translateY(0);
}

.panel1 > a:first-of-type {
  background-image: url(../assets/yt_logo_rgb_dark.png);
}
.panel1 > a:last-of-type {
  background-image: url(../assets/WordPress-logotype-standard.png);
}
.panel2 > a:nth-of-type(1) {
  background-image: url(../assets/github-logo.png);
}
.panel2 > a:nth-of-type(2) {
  background-image: url(../assets/replit-logo-small-square.png);
}
.panel2 > a:nth-of-type(3) {
  background-image: url(../assets/codepen-wordmark-display-inside-black@10x.png);
}
.panel3 {
  flex: 1;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 125px 125px 125px 125px 125px;
  justify-items: center;
  align-items: center;
}
.panel3 > p {
  grid-column: 3;
  align-self: center;
}
.panel3 > p:nth-of-type(3) {
  transform: translateY(0);
  grid-row: 4;
  align-self: start;
}
.panel.open-active.panel3 > p:nth-of-type(1) {
  transform: translateY(125%);
}
.panel.open-active.panel3 > p:nth-of-type(2) {
  transform: translateY(150%);
}
.panel.open-active.panel3 > p:nth-of-type(3) {
  transform: translateY(75%);
}
.panel.open-active.panel3 > a {
  transition: transform 3s;
  border-radius: 50%;
}
.panel3 > a:nth-of-type(1) {
  grid-column: 2;
  grid-row: 2;
  background-image: url(../images/sluvt3-screen.png);
  background-size: 175px;
  height: 100px;
  width: 100px;
}
.panel3 > a:nth-of-type(2) {
  grid-column: 4;
  grid-row: 2;
  background-image: url(../images/kaviar.jpg);
  background-size: 175px;
  height: 100px;
  width: 100px;
}
.panel3 > a:nth-of-type(3) {
  grid-column: 2;
  grid-row: 3;
  background-image: url(../images/sgvdt.jpg);
  background-size: 175px;
  height: 100px;
  width: 100px;
}
.panel3 > a:nth-of-type(4) {
  grid-column: 4;
  grid-row: 3;
  background-image: url(../images/lfg2-screen.png);
  background-size: 175px;
  height: 100px;
  width: 100px;
}
.panel3 > a:nth-of-type(5) {
  grid-column: 3;
  grid-row: 5;
  background-image: url(../assets/envelope-icon.png);
  background-size: 100px;
  height: 100px;
  width: 100px;
}
.panel.open-active.panel3 a:nth-of-type(5){
  border-radius: 0;
}
