.panels {
  min-height:100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background:#6B0F9C;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  text-align: center;
  align-items:center;
 /* Safari transitionend event.propertyName === flex */
 /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.panel1 { background-image:url(../assets/flaming_geyser_park.jpg); }
.panel2 { background-image:url(../assets/coal_creek_park_bridge.jpg); }
.panel3 { background-image:url(../assets/teneriffe_falls.jpg); }
.panel4 { background-image:url(../assets/cassiopeia_night_day.jpg); }

/* Flex Items */
.panel > p {
  margin:0;
  width: 100%;
  opacity: 1;
  transition: transform 0.5s, opacity 4s;
  flex-basis: 25%;
  flex-grow: 0;
  display:flex;
  justify-content: center;
  align-items: center;
}

.panel > p:first-child { transform: translateY(-5000px); }
.panel.open-active > p:first-child { transform: translateY(0); }
.panel > p:nth-of-type(2) { transform: translateY(5000px); }
.panel.open-active > p:nth-of-type(2) { transform: translateY(0);  }
.panel > p:last-child { transform: translateY(-200%); }
.panel.open-active > p:last-child { transform: translateY(0%); }

.panel.open-active > p {
  opacity: 0;
}
.panel.open-active.panel3 {
  width: 450px;
}
.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}
/* .panel p:nth-child(2) {
  font-size: 4em;
} */

.panel.open {
  flex-shrink: 3;
  font-size:35px;
}

.panel > a {
  transform: translateY(-5000px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  height: 100px;
  width: 200px;
}
.panel.open-active > a {
  transition: transform 0.5s, opacity 4s;
  transform: translateY(0);
}

/* panel images */
.panel1 > a:first-of-type {
  background-image: url(../assets/yt_logo_rgb_dark.png);
}
.panel1 > a:last-of-type {
  background-image: url(../assets/WordPress-logotype-standard.png);
  background-color: rgba(255, 255, 255, 0.5)
}

.panel2 > p:nth-of-type(3) {
  transform: translateY(-230%);
}
.panel2 > a:nth-of-type(1) {
  background-image: url(../assets/github-logo.png);
}
.panel2 > a:nth-of-type(2) {
  background-image: url(../assets/codepen-wordmark-display-inside-black@10x.png);
  background-color: rgba(255, 255, 255, 0.2)
}
.panel.open-active.panel2 > a:nth-of-type(2) {
  transform: translateY(-100%);
}
.panel2 > a:nth-of-type(3) {
  background-image: url(../assets/replit-logo-small-square.png);
}

.panel3 {
  flex: 1;
  display: grid;
  grid-template-columns: 15vmin 15vmin 15vmin;
  grid-template-rows: 125px 125px 125px 125px 125px;
  justify-items: center;
  align-items: center;
}
.panel3 > p {
  grid-column: 2;
  align-self: center;
}
.panel3 > p:nth-of-type(3) {
  transform: translateY(10px);
  grid-row: 3;
  align-self: start;
}
.panel.open.panel3 {
  font-size: 30px;
}
.panel.open-active.panel3 {
  grid-template-columns: 12vmin 12vmin 12vmin;
}

.panel.open-active.panel3 > p:nth-of-type(1) {
  transform: translateY(75%);
}
.panel.open-active.panel3 > p:nth-of-type(2) {
  transform: translateY(100%);
}
.panel.open-active.panel3 > p:nth-of-type(3) {
  transform: translateY(125%);
}
.panel.open-active.panel3 > a {
  transition: transform 3s;
  border-radius: 50%;
}

.panel3 > a:nth-of-type(1) {
  grid-column: 1;
  grid-row: 2;
  background-image: url(../images/sluvt3-screen.png);
  background-size: 175px;
  height: 100px;
  width: 100px;
  z-index: 1;
}
.panel3 > a:nth-of-type(2) {
  grid-column: 3;
  grid-row: 2;
  background-image: url(../images/kaviar.jpg);
  background-size: 175px;
  height: 100px;
  width: 100px;
  z-index: 1;
}
.panel3 > a:nth-of-type(3) {
  grid-column: 1;
  grid-row: 3;
  background-image: url(../images/sgvdt.jpg);
  background-size: 175px;
  height: 100px;
  width: 100px;
  z-index: 1;
}
.panel3 > a:nth-of-type(4) {
  grid-column: 3;
  grid-row: 3;
  background-image: url(../images/lfg2-screen.png);
  background-size: 175px;
  height: 100px;
  width: 100px;
  z-index: 1;
}
.panel3 > a:nth-of-type(5) {
  grid-column: 2;
  grid-row: 4;
  background-image: url(../assets/envelope-icon.png);
  background-size: 100px;
  height: 100px;
  width: 100px;
  z-index: 1;
}
.panel.open-active.panel3 a:nth-of-type(5){
  border-radius: 0;
}

.panel.open-active.panel4 {
  transform-origin: left;
  width: 500px;
}
.panel4 > a:first-of-type {
  background-image: url(../assets/flickr-logo.jpg);
  background-size: 100px;
}
.panel4 > a:last-of-type {
  background-image: url(../assets/thingiverse.jpg);
  background-size: 100px;
}
